.content-container {
    margin-top: 70px;
    min-height: calc(100vh - 274px);
}

a.active.item {
    background-color: #cacbcd !important;
    color: black !important;
}

.image-gallery-icon {
    color: #1a69a4;
}

.hero-image {
    height: 50% !important;
    width: 50% !important;
}

@media only screen and (max-width: 700px) {
    .hero-image {
        height: 100% !important;
        width: 100% !important;
    }
}

.mid-page-info {
    font-size: 1.7em;
    text-align: left;
    text-justify: inter-character;
    padding-left: 2em;
    padding-right: 2em;
}

@media only screen and (max-width: 700px) {
    .mid-page-info {
        padding-left: 0;
        padding-right: 0;
    }
}

body {
    margin-top: -70px !important;
    padding-top: 70px !important;
}

.pizza-blue {
    color: #005482;
}

.pizza-blue {
    color: #0085c8;
}

a:hover {
    cursor:pointer;
    text-decoration: underline;
}

[tabulator-field="scheduledValue"], [tabulator-field="retainage"] {
    text-align: right;
}
